$primary-color: hsl(268, 58%, 38%);
$secondary-color: hsl(44, 96%, 78%);
$primary-detail: hsl(268, 52%, 37%);

$primary-opacity:hsla(268, 58%, 38%, .8);

$gb-color: #fff;
$bg-footer-top: #171f26;
$bg-footer-bottom: #11171d;

$white-opacity: hsla(0, 0%, 100%, .5);
$black-opacity: hsla(0, 0%, 0%, .5);
