* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background: #fff;
}

.line {
  border: #fde091 solid 5px;
  width: 20rem;
  margin: 0;
  margin-top: 1.5rem;
  opacity: 1;
}

header {
  width: 100%;
  height: 15rem;
  background: rgba(93, 41, 153, 0.8);
  position: relative;
  z-index: 2;
  width: 100%;
}

header .header-black {
  background: black;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-black .container {
  position: relative;
}

header .header-black .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 1.5rem;
}

header .header-black .container ul li {
  background: url("../assets/images/clubs.png") no-repeat;
}

header .header-black .container ul .club-02 {
  background-position: -4.5rem 0rem;
}

header .header-black .container ul .club-03 {
  background-position: -9rem 0rem;
}

header .header-black .container ul .club-04 {
  background-position: -13.9rem 0rem;
}

header .header-black .container ul .club-05 {
  background-position: -19.2rem 0rem;
}

header .header-black .container ul .club-06 {
  background-position: -24rem 0rem;
}

header .header-black .container ul .club-07 {
  background-position: -28.7rem 0rem;
}

header .header-black .container ul .club-08 {
  background-position: -33.5rem 0rem;
}

header .header-black .container ul .club-09 {
  background-position: -38rem 0rem;
}

header .header-black .container ul .club-10 {
  background-position: -43rem 0rem;
}

header .header-black .container ul .club-11 {
  background-position: -48rem 0rem;
}

header .header-black .container ul .club-12 {
  background-position: -52.8rem 0rem;
}

header .header-black .container ul .club-13 {
  background-position: -57.8rem 0rem;
}

header .header-black .container ul .club-14 {
  background-position: -62.8rem 0rem;
}

header .header-black .container ul .club-15 {
  background-position: -67.3rem 0rem;
}

header .header-black .container ul .club-16 {
  background-position: -71.9rem 0rem;
}

header .header-black .container ul .club-17 {
  background-position: -75.9rem 0rem;
}

header .header-black .container ul .club-18 {
  background-position: -80.5rem 0rem;
}

header .header-black .container ul .club-19 {
  background-position: -85.5rem 0rem;
}

header .header-black .container ul .club-20 {
  background-position: -90.2rem 0rem;
}

header .header-black .container ul .club-21 {
  background-position: -94.9rem 0rem;
}

header .header-black .container ul a {
  width: 3.2rem;
  height: 3.2rem;
  display: block;
}

header .container {
  position: relative;
}

header .container #logo {
  position: absolute;
  top: -1.7rem;
}

header .container .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 3.9rem;
  position: relative;
}

header .container .options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 5.5rem;
  margin-block: -1.9rem;
}

header .container .options ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
}

header .container .options ul li .search {
  border-radius: .5rem;
  position: relative;
  top: .6rem;
}

header .container .options ul li .search input, header .container .options ul li .search button {
  background: #5b2d8f;
  border: none;
  padding: 1rem;
  margin: 0;
}

header .container .options ul li .search input::-webkit-input-placeholder, header .container .options ul li .search input i, header .container .options ul li .search button::-webkit-input-placeholder, header .container .options ul li .search button i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}

header .container .options ul li .search input:-ms-input-placeholder, header .container .options ul li .search input i, header .container .options ul li .search button:-ms-input-placeholder, header .container .options ul li .search button i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}

header .container .options ul li .search input::-ms-input-placeholder, header .container .options ul li .search input i, header .container .options ul li .search button::-ms-input-placeholder, header .container .options ul li .search button i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}

header .container .options ul li .search input::placeholder, header .container .options ul li .search input i, header .container .options ul li .search button::placeholder, header .container .options ul li .search button i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}

.primary-image {
  width: 100%;
}

.primary-image .banner {
  width: 100%;
  height: 72.8rem;
  position: relative;
  background: url("../assets/images/banner.jpg") no-repeat;
  top: -21.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-inline: 11rem;
  padding-top: 25rem;
}

.primary-image .banner .content {
  color: white;
}

.primary-image .banner .content h1 {
  font-size: 7rem;
  font-weight: 300;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

.primary-image .banner .content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

main .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -13rem;
  width: 100%;
}

main .news h1 {
  color: #5d2999;
  font-weight: 300;
  font-size: 3.5rem;
  margin: 0;
}

main .news .latest-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
  gap: 2rem;
  padding-inline: 11rem;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  width: 100%;
}

main .news .latest-news .owl-dots .owl-dot span {
  background: #5d2999;
  opacity: .5;
}

main .news .latest-news .owl-dots .active span {
  opacity: 1;
}

main .news .latest-news .owl-prev, main .news .latest-news .owl-next {
  background-color: #5d2999;
  color: white;
  border-radius: 0;
  padding-inline: 1.5rem !important;
  padding-block: 0.8rem !important;
  font-weight: 700;
  -webkit-transition: background .3s;
  transition: background .3s;
}

main .news .latest-news .owl-prev:hover, main .news .latest-news .owl-next:hover {
  background: rgba(93, 41, 153, 0.8);
}

main .news .latest-news div h4 {
  color: #5d2999;
  font: 1.8rem;
  font-weight: 700;
  margin: 0;
  margin-top: 2rem;
}

main .news .latest-news div time {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

main .statistics {
  background: #5d2999;
  padding-block: 6rem;
  padding-inline: 20rem;
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

main .statistics .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .statistics .info h1 {
  color: #fde091;
  font-size: 5rem;
}

main .statistics .info h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}

main .call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-inline: 20rem;
  margin-top: 12rem;
}

main .call-to-action h1 {
  font-size: 3.2rem;
  color: #5d2999;
  font-weight: 300;
}

main .call-to-action p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 6.5rem;
  text-align: center;
}

main .call-to-action .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5rem;
}

main .call-to-action .buttons .shop, main .call-to-action .buttons .register {
  width: 16.5rem;
  height: 4.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  margin-top: 4.5rem;
}

main .call-to-action .shop {
  background: #5d2999;
  color: white;
  -webkit-transition: background .3s;
  transition: background .3s;
}

main .call-to-action .shop:hover {
  background: rgba(93, 41, 153, 0.8);
}

main .call-to-action .register {
  background: #fde091;
  color: black;
  -webkit-transition: background .3s;
  transition: background .3s;
}

main .call-to-action .register:hover {
  background: rgba(253, 224, 145, 0.8);
}

footer {
  background: #171f26;
}

footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 3.5rem 0 1.5rem;
  padding-inline: 11rem;
  margin-top: 11.5rem;
  color: white;
  gap: 3rem;
}

footer .footer-top > div {
  width: 33rem;
}

footer .footer-top > div h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
}

footer .footer-top > div hr {
  opacity: .1;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

footer .footer-top .popular-posts .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.2rem;
}

footer .footer-top .popular-posts .post + .post {
  margin-top: 1.5rem;
}

footer .footer-top .popular-posts .post span {
  color: rgba(255, 255, 255, 0.5);
}

footer .footer-top .popular-posts .post time {
  color: #fde091;
}

footer .footer-top .links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
}

footer .footer-top .links .link + .link {
  margin-top: 1.5rem;
}

footer .footer-top .contact .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5rem;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
}

footer .footer-top .contact .info + .info {
  margin-top: 2rem;
}

footer .footer-top .contact .info i {
  font-size: 1.6rem;
}

footer .footer-top .contact .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5rem;
  margin-top: 2rem;
  font-size: 1.6rem;
}

footer .footer-top .contact .social-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

footer .footer-top .contact .social-links a div {
  color: rgba(255, 255, 255, 0.5);
}

#videos main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#videos main h1 {
  color: #5d2999;
  font-weight: 300;
  font-size: 3.5rem;
  margin: 0;
  text-transform: uppercase;
  margin-top: 6rem;
}

#videos main .video {
  margin-top: 5rem;
}

#videos main .news {
  margin-top: 2.5rem;
}
/*# sourceMappingURL=global.css.map */