@import './functions';
@import './colors';

@media (max-width: 768px) {
  header {
    .header-black {
      .container {
        ul {
          display: none;
          visibility: hidden;
        }
      }
    }

    .container {
      .options {
        ul {
  
          .search {
            input {
              width: 6rem;
            }
          }
        }
      }
    }
  }

  main {
    .news {
      .latest-news {
        .owl-next, .owl-prev {
          padding-inline: 3rem !important;
          padding-block: 1rem !important;
        }
      }
    }

    .statistics, .call-to-action {
      padding-inline: 3rem;
    }

    .call-to-action{
      p{
        font-size: 2rem;
      }
    }
  }

  footer {
    .footer-top {
      padding-inline: 3rem;
    }
  }
}

@media screen and (max-width: 480px) {
  
  header {
    height: 10rem;

    .header-black {
      display: none;
    }

    .mobile-buttons {
      @include displayFlex(space-between, row); 
      padding-inline: 2rem;
      padding-block: 1rem;


      button {
        background: none;
        border: none;
      
        color: white;
        font-size: 2.4rem;
      }
    }

    > .container {
      @include displayFlex(center, row);

      position: absolute;
      overflow-x: visible;

      top: 7px;

      #logo {
        position: relative;
        top: 0;
      }

      .options {
        ul {
          display: none;
        }
      }
    }
  }

  .primary-image {
    .banner {
      height: 42.7rem;

      padding-inline: 10rem;
      background-size: cover;

      .content {
        h1 {
          font-size: 5rem;
        }

        h2 {
          font-size: 1.6rem;
        }
      }
    }
  }

  main {

    .news {
      margin-top: -20rem;

      .news-section {
        
        #btn-prev, #btn-next {
          visibility: visible;
          font-size: 3.5rem;

          border: none;
          background: none;

          i {
            color: $primary-color;
          }
        }
  
        .latest-news {
          width: 71%;
          @include displayFlex(center, row);
          .item {
            text-align: center;
            
          }
        }

        .owl-dots, .owl-nav {
          display: none;
        }
      }

      
    }
    .statistics {
      flex-direction: column;
      gap: 5rem;
    }

    .call-to-action {
      h1 {
        text-align: center;
      }
    }
  }


  footer {
    .footer-top {
    overflow-x: hidden;
    padding-inline: 0;

    justify-content: center;

    img, .popular-posts, .links, .contact-desk-info {
      display: none;
    }

    .contact {
      @include displayFlex(center, column);
      width: 100%;

      .contact-mobile-info {
        width: 100%;

        display: grid;
        grid-template-columns: .5fr 1fr 1fr 1fr .5fr 1fr 1fr 1fr .5fr;
        grid-template-areas: 'A B B B C D D D E ';

        a {
          @include displayFlex(center, row);

          text-decoration: none;
          color: $white-opacity;
          font-size: 2.4rem;
          
          background: #11171d;
          width: 100%;
          padding-block: 1rem;
          gap: 1rem;
        }

        .location-mobile {
          grid-area: B;
          justify-self: start;
        }

        .call-mobile {
          grid-area: D;
        }
      }

      .social-links {
        a {
          width: 7rem;
          height: 7rem;

          div {
            i {
              font-size: 3.2rem;
            }
          }
        }
        }
      }
    }

  }
}
